@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .wrapper{
        @apply max-w-[1440px] px-6 lg:px-[50px] xl:px-[100px] mx-auto
    }
    .nav-link{
        @apply text-gray-400 font-light text-base relative;
    }

    .nav-link2{
        @apply text-cyan-400 font-light relative;
    }

    .nav-link2.active2{
        @apply text-cyan-400 max-w-max
    }

    .nav-link2.active2 span, .text__underline2{
        @apply h-[2px] absolute w-[60%] z-[-10] rounded-[100px] bg-cyan-300 left-[20%] right-[20%] bottom-0
    }

    .nav-link.active{
        @apply text-gray-900 max-w-max font-normal 
    }
    .nav-link.active span, .text__underline{
        @apply h-1 absolute w-full z-[-10] rounded-[100px] bg-cyan-300 left-0 bottom-[6px]
    }
    section{
        @apply pt-24
    }
    .bg-1{
        @apply xl:h-[300px] lg:h-[250px] w-full pr-[7px] pb-[6px] rounded-t-[31px] rounded-b-[77px] bg-blue-50 overflow-hidden
    }
    .bg-2{
        @apply h-full w-full pl-[9px] pt-[9px] rounded-tl-[67px] rounded-tr-[30px] rounded-b-[77px] bg-cyan-100 overflow-hidden
    }
    .rounded-custom{
        border: 1px solid black
    }
    
}

@media (prefers-reduced-motion: no-preference) {
    .putar {
      animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
   input[type="radio"] + label span {
       transition: background .2s,
         transform .2s;
   }
   
   input[type="radio"] + label span:hover,
   input[type="radio"] + label:hover span{
     transform: scale(1.2);
   } 
   
   input[type="radio"]:checked + label span {
     background-color: #6FEDD6; 
     box-shadow: 0px 0px 0px 2px white inset;
   }
   
   input[type="radio"]:checked + label{
      color: #66BFBF;
      font-weight: bold; 
   }


  
  

